# import packages

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Load DATA

In [44]:
DATA_PATH = '../data/heart.csv'

In [45]:
# Read Data
df = pd.read_csv(DATA_PATH)
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

##  FAST EDA

In [46]:
print('No. Rows in Our Data    : ',df.shape[0])
print('No. Columns in Our Data : ',df.shape[1])

No. Rows in Our Data    :  303
No. Columns in Our Data :  14

In [47]:
def drop_duplicate_row(df):
    num_duplicate = df.duplicated().sum()
    if num_duplicate > 0 :
        print('Number of Duplicated row : ',num_duplicate)
        df.drop_duplicates(inplace=True)
        df.reset_index(drop=True,inplace=True)
        print('Number of Duplicated row : ',df.duplicated().sum())
    else:
        print('No Duplicated Rows . ')
    return df

In [48]:
df = drop_duplicate_row(df)

Number of Duplicated row :  1
Number of Duplicated row :  0

In [49]:
print('Number of NAN : ')
print(df.isna().sum().sort_values(ascending=False))

Number of NAN :
age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

#### No nan value or duplicated row

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       302 non-null    int64
 1   sex       302 non-null    int64
 2   cp        302 non-null    int64
 3   trtbps    302 non-null    int64
 4   chol      302 non-null    int64
 5   fbs       302 non-null    int64
 6   restecg   302 non-null    int64
 7   thalachh  302 non-null    int64
 8   exng      302 non-null    int64
 9   oldpeak   302 non-null    float64
 10  slp       302 non-null    int64
 11  caa       302 non-null    int64
 12  thall     302 non-null    int64
 13  output    302 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

# Convert Categorical Columns Types

In [51]:
non_cat =['oldpeak','thalachh','chol','age','trtbps','output']

In [52]:
for col in df.columns:
    if col not in non_cat:
        df[col] = df[col].astype('category')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       302 non-null    int64
 1   sex       302 non-null    category
 2   cp        302 non-null    category
 3   trtbps    302 non-null    int64
 4   chol      302 non-null    int64
 5   fbs       302 non-null    category
 6   restecg   302 non-null    category
 7   thalachh  302 non-null    int64
 8   exng      302 non-null    category
 9   oldpeak   302 non-null    float64
 10  slp       302 non-null    category
 11  caa       302 non-null    category
 12  thall     302 non-null    category
 13  output    302 non-null    int64
dtypes: category(8), float64(1), int64(5)
memory usage: 17.9 KB

# Save Clean Data

In [54]:
df.to_pickle('../data/clean_data.pkl')